@-webkit-keyframes pebbles-bounce-down {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }

@keyframes pebbles-bounce-down {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -500px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, 0, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  100% {
    transform: none; } }

@-webkit-keyframes pebbles-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pebbles-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes pebbles-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pebbles-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

#newsletter-subscribe {
  background: #c13832;
  color: #fff;
  padding-top: 20px; }
  #newsletter-subscribe .content {
    padding: 40px 0;
    width: 300px; }
  #newsletter-subscribe .form-title {
    background: url("/media/img/newsletter/mozorg-newsletter.svg") center top no-repeat;
    -webkit-background-size: 100px 100px;
    background-size: 100px 100px;
    padding: 120px 0 20px 0;
    text-align: center; }
  #newsletter-subscribe h3 {
    font-size: 32px;
    font-size: 1.77778rem;
    margin: 0 0 0.2em;
    text-align: center; }
  #newsletter-subscribe h4 {
    font-size: 20px;
    font-size: 1.11111rem;
    font-weight: normal; }
    @media screen and (min-width: 1000px) {
      #newsletter-subscribe h4 {
        font-size: 24px;
        font-size: 1.33333rem;
        line-height: 1.1; } }
  #newsletter-subscribe .field {
    margin-bottom: 10px; }
    #newsletter-subscribe .field label {
      display: block;
      margin-bottom: 0.1em; }
  #newsletter-subscribe .field-format label {
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
    display: inline;
    margin-right: 20px; }
  #newsletter-subscribe .field-privacy {
    font-size: 12px;
    font-size: 0.66667rem;
    font-family: "Open Sans", X-LocaleSpecific, sans-serif; }
    #newsletter-subscribe .field-privacy input {
      float: left; }
    #newsletter-subscribe .field-privacy .title {
      display: block;
      padding-left: 25px; }
  #newsletter-subscribe a {
    color: #fff; }
  #newsletter-subscribe input[type='email'] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    font-size: 0.88889rem;
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
    border: 0;
    border-radius: 4px;
    line-height: 1.1;
    padding: 0.75em 20px;
    width: 100%; }
  #newsletter-subscribe select {
    font-size: 14px;
    font-size: 0.77778rem;
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
    line-height: 1.5;
    max-width: 80%; }
  #newsletter-subscribe p.form-details {
    font-family: "Open Sans", X-LocaleSpecific, sans-serif;
    line-height: 1;
    margin-top: 8px; }
  #newsletter-subscribe .thank {
    padding-top: 20px; }
    #newsletter-subscribe .thank p {
      -webkit-animation: pebbles-fade-in 0.5s ease-in 0.8s 1 normal both;
      animation: pebbles-fade-in 0.5s ease-in 0.8s 1 normal both;
      margin-top: 20px; }
  #newsletter-subscribe .errorlist {
    background: #fff;
    color: #c13832;
    padding: 10px 20px; }
  @media screen and (min-width: 480px) {
    #newsletter-subscribe .content {
      width: 460px; } }
  @media screen and (min-width: 760px) {
    #newsletter-subscribe .content {
      width: 740px; }
    #newsletter-subscribe #newsletter-form {
      zoom: 1;
      float: left;
      margin-left: 430px;
      width: 280px; }
      #newsletter-subscribe #newsletter-form:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden; }
    #newsletter-subscribe .form-title {
      -webkit-background-size: 120px 120px;
      background-size: 120px 120px;
      background-position: left 10px;
      float: left;
      margin: -10px 10px 0 -400px;
      padding: 10px 0 20px 140px;
      text-align: left;
      width: 220px; }
    #newsletter-subscribe h3 {
      text-align: left; } }
  @media screen and (min-width: 1000px) {
    #newsletter-subscribe .content {
      width: 980px; }
    #newsletter-subscribe #newsletter-form {
      margin-left: 570px;
      padding-top: 20px;
      width: 380px; }
    #newsletter-subscribe .form-title {
      -webkit-background-size: 150px 150px;
      background-size: 150px 150px;
      background-position: left top;
      margin: -20px 10px 0 -540px;
      min-height: 120px;
      padding-left: 180px;
      width: 300px; }
    #newsletter-subscribe h3 {
      font-size: 40px;
      font-size: 2.22222rem; }
    #newsletter-subscribe h4 {
      font-size: 24px;
      font-size: 1.33333rem; } }

.js #form-details,
.js .form-details {
  display: none; }

.js #newsletter-spinner {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

html[dir="rtl"] #newsletter-subscribe h3,
html[dir="rtl"] #newsletter-subscribe h4 {
  text-align: right; }

@-webkit-keyframes pebbles-bounce-down {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0); }
  75% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0); }
  100% {
    -webkit-transform: none;
    transform: none; } }

@keyframes pebbles-bounce-down {
  0%, 60%, 75%, 90%, 100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: translate3d(0, -500px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, 0, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  100% {
    transform: none; } }

@-webkit-keyframes pebbles-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes pebbles-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes pebbles-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pebbles-fade-out {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

html.noscroll {
  overflow: hidden;
  height: 100%; }
  html.noscroll body {
    height: 100%;
    overflow: hidden; }
  html.noscroll #modal {
    position: absolute; }
  @media screen and (min-width: 760px) {
    html.noscroll {
      height: auto; }
      html.noscroll body {
        height: auto; }
      html.noscroll #modal {
        position: fixed; } }

#modal {
  -webkit-animation: pebbles-fade-in 300ms ease-in 0ms 1 normal both;
  animation: pebbles-fade-in 300ms ease-in 0ms 1 normal both;
  background: #000;
  background: rgba(0, 0, 0, 0.85);
  bottom: 0;
  height: 101%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999999; }
  #modal .window {
    color: #333;
    padding: 20px; }
    #modal .window .inner {
      position: relative;
      background: #fff;
      padding: 20px;
      zoom: 1; }
      #modal .window .inner:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden; }
      #modal .window .inner > header {
        font-size: 48px;
        font-size: 2.66667rem;
        color: #fff;
        display: block;
        height: auto;
        line-height: 1.3;
        padding: 0 60px 0 20px;
        background: #c13832;
        margin: -20px -20px 20px; }
      #modal .window .inner #modal-close {
        cursor: pointer;
        position: absolute;
        right: 9px;
        top: 9px;
        z-index: 99; }
        #modal .window .inner #modal-close a {
          display: none; }
        #modal .window .inner #modal-close .button {
          overflow: hidden;
          text-indent: 120%;
          white-space: nowrap;
          background: transparent url("/media/img/mozid/modal-close.svg") center center no-repeat;
          -webkit-background-size: 22px, 22px;
          background-size: 22px, 22px;
          border-radius: 50%;
          border: 2px solid #fff;
          height: 42px;
          min-width: 0;
          padding: 0;
          width: 42px; }
          #modal .window .inner #modal-close .button:hover, #modal .window .inner #modal-close .button:focus {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            box-shadow: none; }
      #modal .window .inner .overlay-contents {
        background: transparent;
        margin: 0 auto;
        padding-top: 20px; }
        #modal .window .inner .overlay-contents img, #modal .window .inner .overlay-contents iframe {
          max-width: 100%; }

/* Tweaks for RTL locales */
html[dir="rtl"] #modal .window .inner #modal-close {
  left: 9px;
  right: auto;
  text-align: left; }

@media screen and (min-width: 1000px) {
  #modal .inner {
    margin: 20px auto 60px; }
    #modal .inner .footer {
      zoom: 1;
      padding-left: 30px;
      padding-right: 30px; }
      #modal .inner .footer:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden; }
      #modal .inner .footer div {
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 33.332%;
        padding-left: 10px;
        padding-right: 10px; }
        #modal .inner .footer div:first-child {
          margin-left: 0; }
        #modal .inner .footer div:last-child {
          margin-right: 0; } }

.content {
  width: auto; }
  @media screen and (min-width: 760px) {
    .content {
      width: auto;
      padding: 20px 60px; } }
  @media screen and (min-width: 1000px) {
    .content {
      width: auto;
      padding: 20px 85px; } }
  @media screen and (min-width: 1400px) {
    .content {
      width: auto;
      max-width: 1420px; } }

/* -------------------------------------------------------------------------- */
body {
  font-family: "Open Sans", X-LocaleSpecific, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/* -------------------------------------------------------------------------- */
.key-features-section {
  background: #fff; }
  .key-features-section h2 {
    font-size: 18px;
    font-size: 1rem;
    color: #0a84ff;
    margin-bottom: 20px;
    padding-top: 40px;
    position: relative; }
    @media screen and (min-width: 760px) {
      .key-features-section h2 {
        font-size: 24px;
        font-size: 1.33333rem; } }
    @media screen and (min-width: 1000px) {
      .key-features-section h2 {
        font-size: 36px;
        font-size: 2rem; } }
    .key-features-section h2:before {
      background: #0a84ff;
      border-radius: 5px;
      content: '';
      height: 5px;
      left: 50%;
      margin-left: -65px;
      position: absolute;
      top: 0;
      width: 130px; }
  .key-features-section .key-feature {
    background-position: top center;
    background-repeat: no-repeat;
    margin-top: 40px;
    text-align: center; }
    .key-features-section .key-feature a:link,
    .key-features-section .key-feature a:visited {
      color: #0a84ff;
      text-decoration: none; }
    .key-features-section .key-feature a:hover,
    .key-features-section .key-feature a:active,
    .key-features-section .key-feature a:focus {
      color: #0a84ff;
      text-decoration: underline; }
  @media screen and (min-width: 760px) {
    .key-features-section h2:before {
      left: 0;
      margin-left: 0; }
    .key-features-section .key-feature {
      zoom: 1;
      background-position: top right;
      margin: 40px 0 120px;
      text-align: left; }
      .key-features-section .key-feature:after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden; }
      .key-features-section .key-feature:last-child {
        margin-bottom: 0; }
      .key-features-section .key-feature .key-feature-content {
        width: 45%; }
        .key-features-section .key-feature .key-feature-content p {
          max-width: 24em; }
      .key-features-section .key-feature:nth-child(even) {
        background-position: top left; }
        .key-features-section .key-feature:nth-child(even) .key-feature-content {
          float: right;
          text-align: right; }
          .key-features-section .key-feature:nth-child(even) .key-feature-content h2:before {
            left: auto;
            right: 0; }
          .key-features-section .key-feature:nth-child(even) .key-feature-content p {
            float: right; } }
  @media screen and (min-width: 1000px) {
    .key-features-section {
      padding: 60px 0 0; } }
  @media screen and (min-width: 1400px) {
    .key-features-section .key-feature {
      background-position: top right 160px; }
      .key-features-section .key-feature:nth-child(even) {
        background-position: top left 160px; } }

@media screen and (min-width: 760px) {
  html[dir="rtl"] .key-features-section .key-feature {
    background-position: top left;
    text-align: right; }
    html[dir="rtl"] .key-features-section .key-feature .key-feature-content h2:before {
      left: auto;
      right: 0; }
    html[dir="rtl"] .key-features-section .key-feature:nth-child(even) {
      background-position: top right; }
      html[dir="rtl"] .key-features-section .key-feature:nth-child(even) .key-feature-content {
        float: left;
        text-align: left; }
        html[dir="rtl"] .key-features-section .key-feature:nth-child(even) .key-feature-content h2:before {
          left: 0;
          right: auto; }
        html[dir="rtl"] .key-features-section .key-feature:nth-child(even) .key-feature-content p {
          float: left; } }

/* -------------------------------------------------------------------------- */
#outer-wrapper {
  overflow-x: hidden; }

.button.photon,
.button.photon:link,
.button.photon:visited {
  font-size: 18px;
  font-size: 1rem;
  -webkit-transition: box-shadow 0.1s ease-in-out;
  transition: box-shadow 0.1s ease-in-out;
  background: #ff8e00;
  background: linear-gradient(to right, #c40771 17%, #ff8e00 56%, #ffef4c 100%);
  border-radius: 100px;
  border: none;
  box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25);
  color: #fff; }
  .button.photon:hover, .button.photon:active, .button.photon:focus,
  .button.photon:link:hover,
  .button.photon:link:active,
  .button.photon:link:focus,
  .button.photon:visited:hover,
  .button.photon:visited:active,
  .button.photon:visited:focus {
    background: #ff8e00;
    background: linear-gradient(to right, #c40771 17%, #ff8e00 56%, #ffef4c 100%);
    box-shadow: 0 0 11px 0 rgba(255, 255, 255, 0.25);
    color: #fff; }

.button.photon-flat,
.button.photon-flat:link,
.button.photon-flat:visited {
  font-size: 18px;
  font-size: 1rem;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  background: #0A84FF;
  border-radius: 100px;
  border: none;
  color: #fff; }
  .button.photon-flat:hover, .button.photon-flat:active, .button.photon-flat:focus,
  .button.photon-flat:link:hover,
  .button.photon-flat:link:active,
  .button.photon-flat:link:focus,
  .button.photon-flat:visited:hover,
  .button.photon-flat:visited:active,
  .button.photon-flat:visited:focus {
    background: #2491ff;
    color: #fff; }

/* -------------------------------------------------------------------------- */
.main-header {
  background: #0060df;
  background: url("/media/img/firefox/quantum/fox-tail-header.png") top -60px center no-repeat, linear-gradient(148deg, #0060df 7%, #0479f4 20%, #0681fc 27%, #02bdf1 60%, #01d3f0 67%, #05f0e6 100%);
  color: #fff;
  padding: 60px 0 50px;
  position: relative;
  z-index: 1; }
  .main-header h1 {
    background-image: url("/media/img/logos/firefox/logo-quantum.png");
    background-size: 189px 189px;
    font-size: 24px;
    font-size: 1.33333rem;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 210px; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
      .main-header h1 {
        background-image: url("/media/img/logos/firefox/logo-quantum-high-res.png");
        background-size: 189px 189px; } }
    @media screen and (min-width: 760px) {
      .main-header h1 {
        font-size: 36px;
        font-size: 2rem; } }
    @media screen and (min-width: 1000px) {
      .main-header h1 {
        font-size: 48px;
        font-size: 2.66667rem; } }
  .main-header h2 {
    font-size: 18px;
    font-size: 1rem; }
    @media screen and (min-width: 760px) {
      .main-header h2 {
        font-size: 24px;
        font-size: 1.33333rem; } }
    @media screen and (min-width: 1000px) {
      .main-header h2 {
        font-size: 36px;
        font-size: 2rem; } }
  .main-header a:link,
  .main-header a:visited {
    color: #fff;
    text-decoration: none; }
  .main-header a:hover,
  .main-header a:active,
  .main-header a:focus {
    color: #fff;
    text-decoration: underline; }
  .main-header p {
    margin: 40px auto;
    max-width: 24em; }
  .main-header .cta-wrapper {
    display: inline-block;
    text-align: center; }
  .main-header .beta-link {
    display: block;
    margin-top: 10px; }
  .main-header .header-content {
    -webkit-background-size: 300px 222px;
    background-size: 300px 222px;
    background-image: url("/media/img/firefox/quantum/new-tab.png");
    background-position: bottom -40px center;
    background-repeat: no-repeat;
    padding-bottom: 240px;
    text-align: center; }
  .main-header .header-image {
    z-index: 1; }
    .main-header .header-image img {
      display: none; }
  .main-header:after {
    background: transparent url("/media/img/firefox/quantum/wave-top.svg") top center no-repeat;
    -webkit-background-size: 3844px 335px;
    background-size: 3844px 335px;
    bottom: -40px;
    content: '';
    display: block;
    height: 355px;
    left: 0;
    position: absolute;
    width: 100%; }
  @media screen and (min-width: 480px) {
    .main-header {
      padding: 60px 0 40px; }
      .main-header .header-content {
        -webkit-background-size: 400px 296px;
        background-size: 400px 296px;
        padding-bottom: 320px; } }
  @media screen and (min-width: 760px) {
    .main-header {
      padding: 60px 0 30px; }
      .main-header .header-content {
        -webkit-background-size: 500px 370px;
        background-size: 500px 370px;
        padding-bottom: 390px; } }
  @media screen and (min-width: 1000px) {
    .main-header {
      padding: 60px 0; }
      .main-header h1 {
        background-position: top left; }
      .main-header p {
        margin: 40px 0; }
      .main-header .content {
        z-index: 2; }
      .main-header .header-content {
        background: none;
        float: left;
        padding-bottom: 0;
        text-align: left;
        width: 45%; }
      .main-header .header-image {
        float: right;
        margin-top: 40px;
        width: 50%; }
        .main-header .header-image img {
          display: block;
          height: 662px;
          max-width: none;
          width: 922px; } }
  @media screen and (min-width: 1400px) {
    .main-header {
      padding: 60px 0 30px; } }

@media screen and (min-width: 1000px) {
  html[dir="rtl"] .main-header h1 {
    background-position: top right; }
  html[dir="rtl"] .main-header .header-content {
    float: right;
    text-align: right; }
  html[dir="rtl"] .main-header .header-image {
    float: left; } }

/* -------------------------------------------------------------------------- */
.key-features-section .key-feature.fast {
  background-image: url("/media/img/firefox/quantum/faster.png");
  background-size: 130px 141px;
  padding-top: 160px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .key-features-section .key-feature.fast {
      background-image: url("/media/img/firefox/quantum/faster-high-res.png");
      background-size: 130px 141px; } }

.key-features-section .key-feature.performance {
  background-image: url("/media/img/firefox/quantum/performance.png");
  background-size: 160px 150px;
  padding-top: 170px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .key-features-section .key-feature.performance {
      background-image: url("/media/img/firefox/quantum/performance-high-res.png");
      background-size: 160px 150px; } }

.key-features-section .key-feature.privacy {
  background-image: url("/media/img/firefox/quantum/privacy.png");
  background-size: 300px 242px;
  padding-top: 260px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .key-features-section .key-feature.privacy {
      background-image: url("/media/img/firefox/quantum/privacy-high-res.png");
      background-size: 300px 242px; } }

.key-features-section .key-feature.mozilla {
  background-image: url("/media/img/firefox/quantum/mozilla.png");
  background-size: 300px 261px;
  padding-top: 280px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .key-features-section .key-feature.mozilla {
      background-image: url("/media/img/firefox/quantum/mozilla-high-res.png");
      background-size: 300px 261px; } }

@media screen and (min-width: 760px) {
  .key-features-section .key-feature h2:before {
    left: 0;
    margin-left: 0; }
  .key-features-section .key-feature.design {
    text-align: center; }
    .key-features-section .key-feature.design h2:before {
      left: 50%;
      margin-left: -65px; }
  .key-features-section .key-feature.fast {
    -webkit-background-size: 195px 212px;
    background-size: 195px 212px;
    min-height: 250px;
    padding-top: 0; }
  .key-features-section .key-feature.performance {
    -webkit-background-size: 239px 225px;
    background-size: 239px 225px;
    min-height: 250px;
    padding-top: 0; }
  .key-features-section .key-feature.privacy {
    -webkit-background-size: 370px 298px;
    background-size: 370px 298px;
    min-height: 320px;
    padding-top: 0; }
  .key-features-section .key-feature.mozilla {
    -webkit-background-size: 350px 305px;
    background-size: 350px 305px;
    min-height: 320px;
    padding-top: 0; } }

@media screen and (min-width: 1000px) {
  .key-features-section {
    padding: 60px 0 0; }
    .key-features-section .key-feature.fast {
      -webkit-background-size: 260px 282px;
      background-size: 260px 282px;
      min-height: 300px; }
    .key-features-section .key-feature.performance {
      -webkit-background-size: 319px 300px;
      background-size: 319px 300px;
      min-height: 320px; }
    .key-features-section .key-feature.privacy {
      -webkit-background-size: 470px 378px;
      background-size: 470px 378px;
      min-height: 420px; }
    .key-features-section .key-feature.mozilla {
      -webkit-background-size: 450px 392px;
      background-size: 450px 392px;
      min-height: 420px; } }

@media screen and (min-width: 1400px) {
  .key-features-section .key-feature.privacy {
    -webkit-background-size: 585px 471px;
    background-size: 585px 471px;
    background-position: top right 60px;
    min-height: 490px; }
  .key-features-section .key-feature.mozilla {
    -webkit-background-size: 541px 471px;
    background-size: 541px 471px;
    background-position: top left 60px;
    min-height: 490px; } }

@media screen and (min-width: 760px) {
  html[dir="rtl"] .key-features-section .key-feature.fast h2:before, html[dir="rtl"] .key-features-section .key-feature.performance h2:before, html[dir="rtl"] .key-features-section .key-feature.privacy h2:before, html[dir="rtl"] .key-features-section .key-feature.mozilla h2:before {
    left: auto;
    margin-left: 0;
    right: 0; }
  html[dir="rtl"] .key-features-section .key-feature.design {
    text-align: center; } }

@media screen and (min-width: 1400px) {
  html[dir="rtl"] .key-features-section .key-feature.privacy {
    background-position: top left 60px; }
  html[dir="rtl"] .key-features-section .key-feature.mozilla {
    background-position: top right 60px; } }

/* -------------------------------------------------------------------------- */
.feature-carousel-container {
  margin: 0 auto;
  max-width: 700px;
  position: relative; }
  .feature-carousel-container p {
    margin: 20px auto 40px;
    max-width: 34em; }
  .feature-carousel-container .feature-carousel-previous,
  .feature-carousel-container .feature-carousel-next {
    display: none; }
  @media screen and (min-width: 1400px) {
    .feature-carousel-container {
      max-width: 850px; } }

.supports-videos .feature-carousel-container .feature-carousel-previous,
.supports-videos .feature-carousel-container .feature-carousel-next {
  overflow: hidden;
  text-indent: 120%;
  white-space: nowrap;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  background-color: transparent;
  background-repeat: no-repeat;
  border-radius: 100%;
  border: none;
  display: none;
  height: 74px;
  position: absolute;
  top: 30%;
  width: 74px; }
  .supports-videos .feature-carousel-container .feature-carousel-previous:hover, .supports-videos .feature-carousel-container .feature-carousel-previous:focus,
  .supports-videos .feature-carousel-container .feature-carousel-next:hover,
  .supports-videos .feature-carousel-container .feature-carousel-next:focus {
    background-color: #f7f7f7; }

.supports-videos .feature-carousel-container .feature-carousel-previous {
  background-image: url("/media/img/firefox/quantum/carousel/arrow-left.png");
  background-size: 74px 74px;
  left: -110px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .supports-videos .feature-carousel-container .feature-carousel-previous {
      background-image: url("/media/img/firefox/quantum/carousel/arrow-left-high-res.png");
      background-size: 74px 74px; } }

.supports-videos .feature-carousel-container .feature-carousel-next {
  background-image: url("/media/img/firefox/quantum/carousel/arrow-right.png");
  background-size: 74px 74px;
  right: -110px; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
    .supports-videos .feature-carousel-container .feature-carousel-next {
      background-image: url("/media/img/firefox/quantum/carousel/arrow-right-high-res.png");
      background-size: 74px 74px; } }

@media screen and (min-width: 1000px) {
  .supports-videos .feature-carousel-container .feature-carousel-previous,
  .supports-videos .feature-carousel-container .feature-carousel-next {
    display: block; } }

.feature-carousel {
  margin: 0 auto;
  overflow: hidden; }
  .feature-carousel li {
    width: 100%; }
  .feature-carousel figure {
    display: block;
    margin: 0 auto 20px;
    max-width: 850px;
    text-align: center;
    width: 100%; }
  .feature-carousel figcaption {
    color: #b1b1b3;
    margin-top: 20px; }
  .feature-carousel video {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    height: auto;
    width: 100%; }

@media screen and (min-width: 1000px) {
  .supports-videos .feature-carousel li {
    display: none; } }

/* -------------------------------------------------------------------------- */
.sticky-footer {
  background: #fff;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
  display: none;
  text-align: center; }
  .sticky-footer p {
    font-size: 14px;
    font-size: 0.77778rem;
    display: inline-block;
    line-height: 2.5;
    margin: -4px 0 0;
    padding-left: 55px;
    position: relative; }
    @media screen and (min-width: 760px) {
      .sticky-footer p {
        font-size: 16px;
        font-size: 0.88889rem; } }
    @media screen and (min-width: 1000px) {
      .sticky-footer p {
        font-size: 18px;
        font-size: 1rem; } }
    .sticky-footer p:before {
      background-image: url("/media/img/logos/firefox/logo-quantum.png");
      background-size: 45px 45px;
      background-position: left center;
      background-repeat: no-repeat;
      content: '';
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 45px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
        .sticky-footer p:before {
          background-image: url("/media/img/logos/firefox/logo-quantum-high-res.png");
          background-size: 45px 45px; } }
  .sticky-footer .button.photon-flat {
    font-size: 14px;
    font-size: 0.77778rem;
    display: inline-block;
    margin-left: .5em; }
    @media screen and (min-width: 760px) {
      .sticky-footer .button.photon-flat {
        font-size: 16px;
        font-size: 0.88889rem; } }
  .sticky-footer.stuck {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000; }
  @media screen and (min-width: 1000px) {
    .sticky-footer {
      display: block; } }
  @media screen and (min-width: 1400px) {
    .sticky-footer p {
      font-size: 16px;
      font-size: 0.88889rem;
      padding-left: 70px; } }
  @media screen and (min-width: 1400px) and (min-width: 760px) {
    .sticky-footer p {
      font-size: 18px;
      font-size: 1rem; } }
  @media screen and (min-width: 1400px) and (min-width: 1000px) {
    .sticky-footer p {
      font-size: 24px;
      font-size: 1.33333rem; } }
  @media screen and (min-width: 1400px) {
      .sticky-footer p:before {
        -webkit-background-size: 60px 60px;
        background-size: 60px 60px;
        height: 60px;
        width: 60px; }
    .sticky-footer .button.photon-flat {
      font-size: 14px;
      font-size: 0.77778rem; } }
  @media screen and (min-width: 1400px) and (min-width: 760px) {
    .sticky-footer .button.photon-flat {
      font-size: 16px;
      font-size: 0.88889rem; } }
  @media screen and (min-width: 1400px) and (min-width: 1000px) {
    .sticky-footer .button.photon-flat {
      font-size: 18px;
      font-size: 1rem; } }

#colophon {
  padding-bottom: 100px; }

html[dir="rtl"] .sticky-footer p {
  padding-left: 0;
  padding-right: 55px; }
  html[dir="rtl"] .sticky-footer p:before {
    left: auto;
    right: 0; }

html[dir="rtl"] .sticky-footer .button.photon-flat {
  margin-left: 0;
  margin-right: .5em; }

@media screen and (min-width: 1400px) {
  html[dir="rtl"] .sticky-footer p {
    padding-left: 0;
    padding-right: 70px; } }

/* -------------------------------------------------------------------------- */
.other-features {
  background: #0a84ff url("/media/img/firefox/quantum/fox-tail-features.png") top -160px center no-repeat;
  color: #fff;
  padding-bottom: 250px;
  position: relative;
  text-align: center; }
  .other-features:after {
    background: transparent url("/media/img/firefox/quantum/wave-middle.svg") top center no-repeat;
    -webkit-background-size: 3821px 304px;
    background-size: 3821px 304px;
    bottom: -10px;
    content: '';
    display: block;
    height: 304px;
    left: 0;
    position: absolute;
    width: 100%; }
  .other-features .content {
    padding-top: 60px; }
  .other-features h2 {
    font-size: 18px;
    font-size: 1rem;
    margin-bottom: 60px;
    padding-top: 40px;
    position: relative; }
    @media screen and (min-width: 760px) {
      .other-features h2 {
        font-size: 24px;
        font-size: 1.33333rem; } }
    @media screen and (min-width: 1000px) {
      .other-features h2 {
        font-size: 36px;
        font-size: 2rem; } }
    .other-features h2:before {
      background: #fff;
      border-radius: 5px;
      content: '';
      height: 5px;
      left: 50%;
      margin-left: -65px;
      position: absolute;
      top: 0;
      width: 130px; }
  .other-features ul {
    margin: 0;
    padding: 0; }
    .other-features ul li {
      margin: 0;
      padding: 0; }
  .other-features h3 {
    font-size: 18px;
    font-size: 1rem;
    background-position: top center;
    background-repeat: no-repeat;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 180px; }
    .other-features h3.new-tab {
      background-image: url("/media/img/firefox/quantum/features/new-tab.svg"); }
    .other-features h3.library {
      background-image: url("/media/img/firefox/quantum/features/library.svg"); }
    .other-features h3.extensions {
      background-image: url("/media/img/firefox/quantum/features/extensions.svg"); }
    .other-features h3.mobile-browsing {
      background-image: url("/media/img/firefox/quantum/features/mobile-browsing.svg"); }
  @media screen and (min-width: 480px) {
    .other-features ul {
      display: flex;
      flex-wrap: wrap; }
      .other-features ul li {
        margin: 0 auto;
        width: 50%; }
        .other-features ul li p {
          padding: 0 20px 20px; } }
  @media screen and (min-width: 1000px) {
    .other-features {
      padding: 60px 0 250px; }
      .other-features ul li {
        width: 25%; } }
  @media screen and (min-width: 1400px) {
    .other-features {
      padding: 60px 0 280px; } }

@supports (display: grid) {
  @media screen and (min-width: 480px) {
    .other-features ul {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(2, 1fr); }
      .other-features ul li {
        width: auto; }
        .other-features ul li p {
          padding: 0 0 20px; } }
  @media screen and (min-width: 1000px) {
    .other-features ul {
      grid-template-columns: repeat(4, 1fr); }
      .other-features ul li {
        width: auto; } } }

/* -------------------------------------------------------------------------- */
.secondary-sign-up {
  background: #0060df;
  background: url("/media/img/firefox/quantum/fox-tail-sign-up.png") top -100px center no-repeat, linear-gradient(-80deg, #0060df 11%, #0080ff 45%, #00feff 82%, #06fde1 100%);
  color: #fff;
  padding-top: 390px;
  position: relative; }
  .secondary-sign-up:before {
    background: transparent url("/media/img/firefox/quantum/wave-bottom.svg") top center no-repeat;
    -webkit-background-size: 4615px 385px;
    background-size: 4615px 385px;
    content: '';
    display: block;
    height: 390px;
    left: 0;
    position: absolute;
    top: -20px;
    width: 100%; }
  .secondary-sign-up h2 {
    font-size: 18px;
    font-size: 1rem;
    line-height: 1.3;
    margin: 20px auto;
    max-width: 18em; }
    @media screen and (min-width: 760px) {
      .secondary-sign-up h2 {
        font-size: 24px;
        font-size: 1.33333rem; } }
    @media screen and (min-width: 1000px) {
      .secondary-sign-up h2 {
        font-size: 36px;
        font-size: 2rem; } }
  .secondary-sign-up .secondary-sign-up-content {
    margin: -140px 0 40px;
    padding-top: 165px;
    position: relative;
    text-align: center; }
    .secondary-sign-up .secondary-sign-up-content:before {
      background-image: url("/media/img/firefox/quantum/laptop.png");
      background-size: 280px 165px;
      background-position: top left;
      background-repeat: no-repeat;
      content: '';
      height: 165px;
      left: 50%;
      margin-left: -140px;
      position: absolute;
      top: 0;
      width: 280px; }
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
        .secondary-sign-up .secondary-sign-up-content:before {
          background-image: url("/media/img/firefox/quantum/laptop-high-res.png");
          background-size: 280px 165px; } }
  @media screen and (min-width: 760px) {
    .secondary-sign-up .secondary-sign-up-content {
      margin-bottom: 0;
      min-height: 180px;
      padding: 0 0 0 320px;
      text-align: left; }
      .secondary-sign-up .secondary-sign-up-content h2 {
        margin: 20px 0; }
      .secondary-sign-up .secondary-sign-up-content:before {
        left: 0;
        margin-left: 0; } }
  @media screen and (min-width: 1000px) {
    .secondary-sign-up .secondary-sign-up-content {
      min-height: 300px;
      padding-left: 460px; }
      .secondary-sign-up .secondary-sign-up-content:before {
        -webkit-background-size: 422px 248px;
        background-size: 422px 248px;
        height: 248px;
        width: 422px; } }

@media screen and (min-width: 760px) {
  html[dir="rtl"] .secondary-sign-up .secondary-sign-up-content {
    padding: 0 320px 0 0;
    text-align: right; }
    html[dir="rtl"] .secondary-sign-up .secondary-sign-up-content:before {
      left: auto;
      right: 0; } }

@media screen and (min-width: 1000px) {
  html[dir="rtl"] .secondary-sign-up .secondary-sign-up-content {
    padding-right: 460px; } }

/* -------------------------------------------------------------------------- */
.newsletter-modal .content {
  background: #fff;
  text-align: center; }

.newsletter-modal .form-contents {
  margin: 0 auto;
  max-width: 260px; }

.newsletter-modal .field-email input {
  max-width: 100%; }

.newsletter-modal .field {
  margin-bottom: 20px; }

.newsletter-modal .button.photon {
  box-shadow: none;
  margin: 10px auto 20px;
  max-width: 260px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25); }
  .newsletter-modal .button.photon:hover, .newsletter-modal .button.photon:focus {
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.25); }

.newsletter-modal h3 {
  font-size: 16px;
  font-size: 0.88889rem;
  color: #0a84ff;
  line-height: 1.4;
  margin: 20px auto 40px;
  max-width: 20em; }
  @media screen and (min-width: 760px) {
    .newsletter-modal h3 {
      font-size: 18px;
      font-size: 1rem; } }
  @media screen and (min-width: 1000px) {
    .newsletter-modal h3 {
      font-size: 24px;
      font-size: 1.33333rem; } }

.newsletter-modal h4 {
  font-size: 14px;
  font-size: 0.77778rem;
  margin-bottom: 40px; }
  @media screen and (min-width: 760px) {
    .newsletter-modal h4 {
      font-size: 16px;
      font-size: 0.88889rem; } }
  @media screen and (min-width: 1000px) {
    .newsletter-modal h4 {
      font-size: 18px;
      font-size: 1rem; } }

.newsletter-modal select {
  max-width: 100%; }

#footer-email-errors {
  color: #ff0000; }

#newsletter-form-thankyou {
  padding-top: 100px; }

.js .newsletter-modal {
  display: none; }

#modal .newsletter-modal {
  display: block; }
  #modal .newsletter-modal .content {
    min-width: 260px; }

#modal .window .inner {
  background: transparent;
  max-width: 760px; }
  #modal .window .inner .overlay-contents {
    padding-top: 60px; }
